@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    window.location.href = '/Notes';
</script>

<div class="text-center">
    <h1 class="display-4">Redirecting to Notes...</h1>
    <p>If you're not redirected automatically, <a href="/Notes">click here</a>.</p>
</div>
